################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/Backstab/x64/Release
/.vs/Backstab/v16
/Backstab/x64/Debug
